/*::-webkit-scrollbar{background:transparent;width:8px;height:8px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;opacity:0;transition:background-color .2s linear,opacity .2s linear}*/
/*::-webkit-scrollbar-thumb{background-color:#22af47;height:8px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}*/
.form-group input.form-control,
.form-group select.form-control:not([multiple]){
    height: calc(1.5em + .75em + 2px) !important;
    font-size: 14px;
}

.form-group label {
    font-size: 13px;
}

.input-group .btn,
.input-group-addon .btn {
    line-height: 1.15;
}

.popover {
    max-width: 100%;
}

.hk-breadcrumb .breadcrumb {
    margin-bottom: 1rem;
}

.nav.nav-sm .nav-link {
    padding: .25rem 0.75rem .25rem 0rem;
    font-size: 13px;
}

.table thead th {
    white-space: nowrap;
}

.hk-wrapper .hk-navbar a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.hk-wrapper .hk-navbar a.navbar-toggle-btn,
.hk-wrapper .hk-navbar .navbar-nav .nav-item .nav-link {
    line-height: 47px;
}

.hk-wrapper.hk-vertical-nav .hk-nav {
    width: 200px;
    top: 47px;
}

.hk-wrapper.hk-vertical-nav .hk-nav .navbar-nav-wrap {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.hk-wrapper.hk-vertical-nav .hk-nav .nav-header {
    width: 200px;
}

.hk-wrapper.hk-vertical-nav .hk-nav .navbar-nav li {
    width: 200px;
}

.hk-wrapper.hk-vertical-nav .hk-nav .nav-separator {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hk-wrapper.hk-vertical-nav .hk-nav .navbar-nav .nav-item .nav-link > i {
    line-height: 19px;
}

.hk-wrapper.hk-vertical-nav .hk-pg-wrapper {
    margin-left: 200px;
    padding-top: 47px;
    padding-bottom: 10px;
}

.hk-wrapper .navbar-search {
    top: 47px;
}

.hk-pg-wrapper .hk-pg-header {
    margin-bottom: 10px;
}

.hk-breadcrumb .breadcrumb.breadcrumb-light {
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-bottom: .5rem;
}

.hk-breadcrumb .breadcrumb .breadcrumb-item {
    font-size: 12px;
}

.hk-sec-wrapper {
    margin: 0;
}

.hk-sec-wrapper.index {
    padding: 0;
}

.hk-footer-wrap .footer p {
    line-height: 30px;
}

.hk-pg-wrapper.hk-auth-wrapper > header {
    width: auto;
}